:root{
	--color-1: #46b01a;
	--color-1-dark: #2d8975;
	--color-1-light: #76C5B4;
	--primary: #46b01a;
	--primary-s: #E3F9D9;
	--secondary: #34495e;
    --secondary-s: #DEE5ED;
	--shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	--shadow-sm: 0 .125rem .25rem rgba(0,0,0,.075)!important;
	--shadow-sm-hover: 0 .225rem .45rem rgba(0,0,0,.1)!important;
	--transition: .25s ease;
}

.btn-theme-1{color:var(--bs-white);background-color:var(--primary);border-color:var(--primary)}
.btn-theme-1:hover{color:var(--primary);background-color:var(--primary-s);border-color:var(--primary-s)}
.btn-check:focus+.btn-theme-1,
.btn-theme-1:focus{color:var(--bs-white);background-color:var(--primary);border-color:var(--primary);box-shadow:0 0 0 .25rem var(--primary-s)}
.btn-check:active+.btn-theme-1,
.btn-check:checked+.btn-theme-1,
.btn-theme-1.active,
.btn-theme-1:active,
.show>.btn-theme-1.dropdown-toggle{color:var(--bs-white);background-color:var(--primary);border-color:var(--primary)}
.btn-check:active+.btn-theme-1:focus,
.btn-check:checked+.btn-theme-1:focus,
.btn-theme-1.active:focus,
.btn-theme-1:active:focus,
.show>.btn-theme-1.dropdown-toggle:focus{box-shadow:0 0 0 .25rem var(--primary-s);}
.btn-theme-1.disabled,.btn-theme-1:disabled{color:var(--primary);background-color:var(--bs-white);border-color:var(--primary-s)}

.btn-primary{color:var(--bs-white);background-color:var(--primary);border-color:var(--primary)}
.btn-primary:hover{color:var(--primary);background-color:var(--primary-s);border-color:var(--primary-s)}
.btn-check:focus+.btn-primary,
.btn-primary:focus{color:var(--bs-white);background-color:var(--primary);border-color:var(--primary);box-shadow:0 0 0 .25rem var(--primary-s)}
.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle{color:var(--bs-white);background-color:var(--primary);border-color:var(--primary)}
.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 .25rem var(--primary-s);}
.btn-primary.disabled,.btn-primary:disabled{color:var(--primary);background-color:var(--bs-white);border-color:var(--primary-s)}

.form-check-input:checked{background-color: var(--primary); border-color: var(--primary);}
.form-check-input:focus{box-shadow: 0 0 0 0.25rem rgb(70 176 26 / 25%); border-color: var(--primary);}

.bg-theme-1{background-color: var(--color-1)}
.bg-theme-2{background-color: var(--color-1-light)}
.bg-glass-light{background-color:rgba(255,255,255,.2); backdrop-filter:blur(2px); border: 1px solid rgba(255,255,255,.2);}
.transition{transition: var(--transition)}
.rounded-1{border-radius: .5em!important}
.rounded-2{border-radius: 1em!important}
.rounded-3{border-radius: 1.5em!important}
.rounded-4{border-radius: 2em!important}
html {scroll-behavior: smooth;}
body {background-color: var(--light)}
.btn-outline-primary {color: var(--color-1); border-color: var(--color-1); transition: var(--transition);}
.btn-outline-primary:hover {background-color: var(--color-1); color: var(--bs-white); border-color: var(--color-1);}
.btn-outline-dark:hover {color: #fff; background-color: var(--color-1); border-color: var(--color-1)}
.btn-outline-dark.focus, .btn-outline-dark:focus {box-shadow: 0 0 0 0.2rem rgb(70 176 26 / 50%);}
.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show>.btn-outline-dark.dropdown-toggle {color: var(--primary); background-color: var(--primary-s); border-color: var(--primary-s)}
.btn-outline-dark:not(:disabled):not(.disabled).active:focus, .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-dark.dropdown-toggle:focus {box-shadow: 0 0 0 0.2rem rgb(70 176 26 / 50%); color: var(--primary);}
.btn-outline-dark img {transition: var(--transition); filter: hue-rotate(57deg);}
.btn-outline-dark:hover img {filter: brightness(0.5), hue-rotate(57deg);}

.custom-shape-divider-top-1617699401 {top: 0; left: 0; width: 100%; overflow: hidden; line-height: 0}
.custom-shape-divider-top-1617699401 svg {position: relative; display: block; width: calc(100% + 1.3px); height: 130px}
.custom-shape-divider-top-1617699401 .shape-fill {fill: var(--color-1)}
.custom-shape-divider-top-1617767620 {top: 0; left: 0; width: 100%; overflow: hidden; line-height: 0}
.custom-shape-divider-top-1617767620 svg {position: relative; display: block; width: calc(100% + 1.3px); height: 150px}
.custom-shape-divider-top-1617767620 .shape-fill {fill: var(--color-1)}
.navbar-brand img{width:120px}
.login-wrapper{min-height: calc(100vh - 8rem)}
.modal-content, .card{border: unset;}
.card{box-shadow: var(--shadow-sm)!important}
.card.bg-light{background-color: var(--bs-white)!important}
.card .bg-warning{background-color: transparent!important}
.main-container{margin-top: -9em;}
.col-2 {-ms-flex: 0 0 8.666667%; flex: 0 0 8.666667%; max-width: 8.666667%;}
.soal .col-2, .soal .col-8{margin-bottom: .5em}
.bg-header{padding-top: 5em; padding-bottom: 1.5em}
.list-group-item.active {background-color: var(--color-1-light); border-color: var(--color-1-light);}
#datatable tr th {text-align: center;}
#datatable tr td.number, #datatable tr td.options {text-align: center;}

input[type="text"] {display: block; width: 100%; padding: 0.375rem 0.75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #212529; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 0.25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
input[type="text"]:focus {color: #212529; background-color: #fff; border-color: var(--primary); outline: 0; box-shadow: 0 0 0 0.25rem rgb(70 176 26 / 25%);}
input[type="password"]:focus {color: #212529; background-color: #fff; border-color: var(--primary); outline: 0; box-shadow: 0 0 0 0.25rem rgb(70 176 26 / 25%);}

@media (max-width: 767.98px) {	
	.custom-shape-divider-top-1617699401 svg, .custom-shape-divider-top-1617767620 svg {height: 40px}
	.bg-header{padding-top: 5em; padding-bottom: 5em}
	.main-container{margin-top: -7em}
	.login-wrapper{min-height: calc(100vh - 15rem)}
}

@media (max-width: 991.98px) {
	.custom-shape-divider-top-1617699401 svg, .custom-shape-divider-top-1617767620 svg {height: 60px}
	.bg-header{padding-top: 5em; padding-bottom: 5em}
	.main-container{margin-top: -7em}
}
